<html>
  <head>
    <title>Boot Camp</title>
  </head>
  <body>
    <h1>Boot Camp</h1>
    <p><i>Insert new webpage here</i></p>
    <p>Welcome to <strong><%= @fqdn %></strong>, a <%= @kernel %> system running <%= @os['name'] %> version <%= @os['release']['full'] %>.</p>
    <p>This is the <strong><%= @title %></strong> virtualhost with a servername of <%= @servername %>.
  </body>
</html>
